<div>
    <div class="modal-header">
        <a class="close" ng-click="close_modal()">x</a>
        <h3>{{"Manage Project"|i18n}}</h3>
    </div>
    <form action="">
        <div class="modal-body">
            
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary pull-right"
            value="{{'Manage Project'|i18n}}"/>
            <a class="btn cancel"
                ng-click="close_modal()">{{"Cancel"|i18n}}</a>
        </div>
    </form>
</div>
