<div class="actions">
    <button class="btn btn-create" ng-click="open_create_volume_modal()">
        <i class="icon-icon"></i>
        {{"Create Volume"|i18n}}
    </button>
    <button class="btn btn-delete"
        ng-disabled="selectedItems.length==0" ng-click="open_confirm_dialog()">
        <i class="icon-icon"></i>
        {{"Delete Volume"|i18n}}
    </button>


    <button class="btn btn-edit"
        ng-disabled="selectedItems.length!=1" ng-click="open_edit_attachment_modal()">
        <i class="icon-icon"></i>
        {{"Edit Attachments"|i18n}}
    </button>

    <button class="btn btn-create-snapshot"
        ng-disabled="selectedItems.length!=1" ng-click="open_create_snapshot_modal()">
        <i class="icon-icon"></i>
        {{"Create Snapshot"|i18n}}
    </button>

</div>

<div id="volume_center_wrapper" class="center_wrapper std-center-wrapper">
    <div class="upper_region">
        <div angrid="gridOptions"></div>
    </div>
</div>


<div ui-modal class="fade" ng-model="confirm_dialog_shown">
    <confirm-dialog action="delete_volumes()" confirm-dialog-shown="confirm_dialog_shown"></confirm-dialog>
</div>
<div ui-modal class="fade" ng-model="create_volume_shown">
    <create-volume modal-shown="create_volume_shown"></create-volume>
</div>
<div ui-modal class="fade" ng-model="edit_attachment_shown">
    <edit-attachment modal-shown="edit_attachment_shown"></edit-attachment>
</div>
<div ui-modal class="fade" ng-model="edit_detachment_shown">
    <edit-detachment modal-shown="edit_detachment_shown"></edit-detachment>
</div>
<div ui-modal class="fade" ng-model="create_volume_snapshot_shown">
    <create-volume-snapshot modal-shown="create_volume_snapshot_shown"></create-volume-snapshot>
</div>
